body {
    font-family: Helvetica, sans-serif, Arial;
    background-image: url('./img/P10129888.jpg');
    background-size: 100% auto;
    position: relative;
    z-index: -999;
    width: auto;
    height: auto;
    background-attachment: local;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

body header {
    position: fixed;
    width: 100%;
    height: 72px;
    background-image: linear-gradient(to bottom,rgb(109, 115, 176),rgba(6,99,255,0.75));
    top: 0;
    left: 0;
    align-items: center;
    z-index: 100;
}

body header .flex-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 72px;
    width: 100%;
    height: 72px;
}
/*hamburger icon*/
.hamburger-icon {
    display: inline-block;
    position: absolute;
    left: 0;
    top:0;
    width: 40px;
    height: 100%;
    transform: scaleY(0);
    z-index: 100;
}
#toggler {
    display: none;
  }
  
.animation-box {
    position: absolute;
    margin: 0 2px 0;
    width: 36px;
    height: 36px;
    background-color: transparent;
    z-index: 2;
}
.animation-box span {
    display: block;
    height: 1px;
    width: 22px;
    background-color: white;
    margin: auto;
    position: relative;
    margin-top: 12px;
    transition: transform .2s ease-in-out, top .2s ease-in-out .2s;
    top: 0;
}

.animation-box span:nth-child(2) {
    top: -2px;
}


/*标题部分*/
body header div .title {
    position: relative;
    font-size: 0.5em;
    --title-width: 250px;
    width: var(--title-width);
    margin-left: 22px;
    text-align: center;
}

body header div .title a {
    display:block;
    font-family: Helvetica, sans-serif, Arial;
    color: white;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
}

body header div .flex-nav {
    position: relative;
    top: 0px;
    display:flex;
    list-style: none;
    flex-direction: row;
    align-items:flex-start;
    position:relative;
    padding-left: 0;
    height: 45px;
    font-size: 32px;
    flex-shrink: 1;
    overflow:hidden;
}

body header div .flex-nav .box {
    flex: 1;
    margin-top: 0px;
    width: 5em;
    height: 100%;
    font-size: 1em;
    background-color: transparent;
    text-align: center;
    line-height: 0.8em;
    position: relative;
}
body header div .flex-nav .box a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color:white;
}

body header div .flex-nav .box:hover a {
    color:lavenderblush;/*implicit*/
}

@media screen and (max-width: 730px) {
    body header {
        height: 36px;
    }
    body header .hamburger-icon {
        transform: scaleY(1);
    }
    body header .flex-title {
        font-size: 2.2em;
        height: 35px;
    }
    /*hamburger-icon*/
    #toggler:checked + label .animation-box span:nth-child(1) {
        background-color: blue;
        transform: rotate(45deg);
        top: 6px;
        transition: top .2s ease-in-out, transform .2s ease-in-out .2s;
    }
    #toggler:checked + label .animation-box span:nth-child(2) {
        background-color: blue;
        transform: rotate(-45deg);
        top: -7px;
        transition: top .2s ease-in-out, transform .2s ease-in-out .2s;
    }
    #toggler:checked ~ .flex-title .flex-nav {
        transform: scaleY(1);
        transition: transform .3s ease-in-out, opacity .3s ease-in-out .05s;
    }
    body header .flex-title .title{
        margin-left: calc(var(--title-width)/-2);
        left: 50%;
    }
    body header div .flex-nav {
        position: fixed;
        top: 4px;
        flex-direction: column;
        height: auto;
        transform:scaleY(0);
        transform-origin: top;
        transition: transform .3s ease-in-out, opacity .3s ease-in-out .05s;
    }
    body header div .flex-nav .box {
        margin-top: 0;
        background-color: rgba(0,0,0,0.5);
        padding: 5px 0 20px 22px;
        width: 100vw;
        text-align: left;
        font-size: 22px;
    }
}

body main {
    position: relative;
    background-image: linear-gradient(to bottom,rgba(120,155,222,0.8),#6A7A61,rgba(230,230,250,0.6),rgba(230,230,250,0.45),rgba(256,256,256,0.4));
    width: 80%;
    height:auto;
    margin:81px auto;
}

body main .context {
    margin: 2px 22px 13px;
}
